<h2>Francesco Pizza 🍕</h2>
    <form method="post" action="/">
        <fieldset>
            <legend>Select caller ☎️:</legend>
            <div>
                <input type="radio" id="🦊" name="caller" value="🦊 Fox" checked="checked"><label for="dewey">🦊 Fox</label><br>
                <input type="radio" id="🦄" name="caller" value="🦄 Unicorn"><label for="dewey">🦄 Unicorn</label><br>
                <input type="radio" id="🦒" name="caller" value="🦒 Giraffe"><label for="dewey">🦒 Giraffe</label><br>
            </div>
        </fieldset>
        <fieldset>
            <legend>Select pizza 🍕:</legend>
            <div>
                <input type="radio" id="🫒" name="pizza" value="🫒 Olives" checked="checked"><label for="dewey">🫒 Olives</label><br>
                <input type="radio" id="🍄" name="pizza" value="🍄 Mushrooms"><label for="dewey">🍄 Mushrooms</label><br>
                <input type="radio" id="🍆" name="pizza" value="🍆 Eggplant"><label for="dewey">🍆 Eggplant</label><br>
                <input type="radio" id="🧄" name="pizza" value="🧄 Garlic"><label for="dewey">🧄 Garlic</label><br>
                <input type="radio" id="🧅" name="pizza" value="🧅 Onion"><label for="dewey">🧅 Onion</label><br>
                <input type="radio" id="🍍" name="pizza" value="🍍 Pineapple"><label for="dewey">🍍 Pineapple</label><br>
                <input type="radio" id="🍣" name="pizza" value="🍣 Sushi"><label for="dewey">🍣 Sushi</label>
            </div>
        </fieldset>
        <fieldset>
            <legend>Write Address:</legend>
            <div>
                <input type="text" id="🫒" name="address" minlength="4" maxlength="100" size="50" value="Via Carcarlo Pravettoni 1, Genova" placeholder="Via Carcarlo Pravettoni 1, Genova">
            </div>
        </fieldset>
        <input type="submit" value="Submit Order" name="Submit" />
    </form>